<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/projects']">TaskPlaner</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a [routerLink]="['/projects']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    Dự án
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
            <li>
                <dx-button
                [text]="'Log out'"
                style="background-color: yellow;margin-top: 8%;"
                (onClick)="onClickLogOut()">
                </dx-button>
            </li>
        </ul>
    </div>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>