#kanban {
  white-space: nowrap;
}

.sortable-lists{
  display: flex; 
  justify-content: space-between;
}

.list {
  border-radius: 8px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 600px;
}

.list-title {
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.scrollable-list {
  width: 260px;
  margin-bottom: 5px;
}

.sortable-cards {
  min-height: 380px;
  width: 230px;
  border-radius: 10px;
  margin-left: 10px;
  background: linear-gradient(
    180deg,
    rgb(243, 243, 243) 0%,
    rgba(255, 255, 255, 1) 45%
  );
}

.card {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 10px 10px 10px;
  cursor: pointer;
}

.add-card {
  margin: 10px 10px 10px 10px;
  width: 230px;
}

.card-subject {
  padding-bottom: 10px;
}

.card-assignee {
  opacity: 0.6;
}

.card-priority {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 5px;
  width: 5px;
  border-radius: 2px;
  background: #86c285;
}

.card-basic-info {
  display: flex;
  align-items: center;
}

.card-basic-info .icon {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 3px;
}

.card-basic-info .expired{
  color:red;
}

.left {
  display: flex;
  align-items: center;
}

.border-dot {
  border: 2px dotted;
  border-radius: 9999px;
  padding: 3px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-dot:nth-child(1) {
  margin-right: 5px;
}

.priority-1 {
  background: #adadad;
}

.priority-2 {
  background: #70796f;
}

.priority-3 {
  background: #edc578;
}

.priority-4 {
  background: #ef7d59;
}

.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 5px 0;
}
.type .dx-button-content {
  padding: 0;
}

::ng-deep .dx-sortable {
  display: block;
}

::ng-deep .priority .dx-icon {
  color: white;
}

::ng-deep .priority .dx-button-content {
  padding: 5px;
}

/* header */

.main {
  background: linear-gradient(
    180deg,
    rgba(246, 249, 255, 1) 0%,
    rgba(255, 255, 255, 1) 45%
  );
  width: 100%;
  height: 700px;
}

.header {
  padding: 10px 0 0 20px;
}

.header .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.header .title .title-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.avatars{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: bold;
}

.avatar img{
  width: 25px;
  height: 25px;
  margin-left: -10px;

  border-radius: 50%;
}
.avatar{
  border-radius: 50%;
}

.title-header{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.close-popup{
  font-size: 20px;
  margin-left: 15px;
}

.btn-popup{
  cursor: pointer;
}