<div class="main">
	<div class="header">
		<div class="title">
			<dx-button icon="fas fa-tasks" type="default"></dx-button>
			<div class="title-name"><span>{{project.name}}</span></div>
		</div>
		<div class="avatars">
			<span class="avatar">
				<img src="https://www.fillmurray.com/50/50" />
			</span>
			<span class="avatar">
				<img src="https://www.fillmurray.com/100/100" />
			</span>
			<span class="avatar">+99 user</span>
		</div>
	</div>

	<div id="kanban">
		<dx-scroll-view class="scrollable-board" direction="horizontal" showScrollbar="onHover">
			<dx-sortable class="sortable-lists" itemOrientation="horizontal" handle=".list-title"
				(onReorder)="onListReorder($event)">
				<div class="list" *ngFor="let list of lists; let listIndex = index">
					<div class="list-title dx-theme-text-color">
						<span class="dx-icon-square" [style.width]="30"
							[style.color]="statuses[listIndex]['color']"></span>
						{{statuses[listIndex]['title']}} <span class="badge">{{list.cards.length}}</span>
					</div>
					<dx-button (onClick)="onClickAddNewCard()" class="add-card" icon="add" text="Thêm công việc"
						*ngIf="listIndex==0">
					</dx-button>
					<dx-scroll-view class="scrollable-list" style="width: fit-content;" direction="vertical"
						showScrollbar="onHover">
						<dx-sortable class="sortable-cards" group="cardsGroup" [data]="list.cards"
							(onDragStart)="onTaskDragStart($event)" (onReorder)="onListReorder($event)"
							(onAdd)="onTaskDrop($event, statuses[listIndex]['phaseId'])">
							<div class="card dx-card dx-theme-text-color dx-theme-background-color"
								style=" cursor: unset;" (click)="onCardClick(card, statuses[listIndex]['code'])" data-toggle="modal"
								data-target="#myModal2" *ngFor="let card of list.cards">
								<div class="card-name">{{card.id}}. {{card.name}}</div>
								<div class="type">
									<dx-button (click)="onClickPriority();
								$event.stopPropagation()" class="priority" text="Trung bình" icon="fas fa-flag" [style.index]=999999
										[style.background-color]="'#6495ED'" [style.color]="'white'">
									</dx-button>

									<div class="tags" *ngFor="let item of (card.tags || [])">
										<i class="fas fa-tag" style="color: '{{item.color}}';"></i>
									</div>
								</div>
								<div class="card-basic-info">
									<div class="left">
										<div class="card-assign icon border-dot">
											<i class="far fa-user"></i>
										</div>

										<ng-container *ngIf="card.dueDate else dateBox">
											<dx-date-box
											style="border: none; padding: 0;"
											[value]="card.dueDate" 
											[readOnly]="true"
											[displayFormat]="displayFormatDatetime"
											[type]="'date'" 
											[showClearButton]="true"></dx-date-box>
										</ng-container>
										<ng-template #dateBox>
											<div class="card-due-date icon border-dot">
												<i class="far fa-calendar-minus"></i>
											</div>
										</ng-template>
										<!-- <div class="expired">Hết hạn</div> -->
									</div>
								</div>
								<!-- Todos  -->
								<ng-container *ngIf="card.todos.length != 0">
									<!-- <hr>
									<div class="todo-temp" style="display: flex;">
										<circle-progress [percent]="90" [space]="-10" [radius]="5"
											[outerStrokeWidth]="1" [innerStrokeWidth]="0" [showImage]="true"
											[outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'"
											[animation]="true" [animationDuration]="50"></circle-progress>
										<span>{{card.todos[0].name}}
											<div>
												<span *ngIf="card.todos.length > 1">...</span>
											</div>
										</span>
									</div> -->
								</ng-container>
							</div>
						</dx-sortable>
					</dx-scroll-view>
				</div>
			</dx-sortable>
		</dx-scroll-view>
	</div>
	<app-modal *ngIf="isShowModal" [card]="card"></app-modal>
</div>

<!-- POPUP MODAL -->
<dx-popup [width]="500" [height]="'100%'" [position]="'right'" [showTitle]="true"
	[dragEnabled]="false" [closeOnOutsideClick]="true" (onHidden)="onModalHidden($event)"
	[(visible)]="popupModalVisible" titleTemplate="title">
	<div *dxTemplate="let data of 'title'">
        <div class="title-header">
			<div class="title-name">{{card.name}}</div>
			<div class="right-header">
				<i class="fas fa-bell btn-popup" id="showNoti" (click)="toggleWithNoti($event)"></i>
				<i class="fas fa-times close-popup btn-popup" (click)="hideModal($event)"></i>
			</div>
		</div>
    </div>
	<div *dxTemplate="let data of 'content'">
		<dx-scroll-view width="100%" height="100%">
			<app-modal *ngIf="popupModalVisible" (cardChange)="changedCard($event)" [(card)]="card" [kanbanComponent]="kanbanComponent"></app-modal>
		</dx-scroll-view>
	</div>
</dx-popup>

<!-- POPUP Add New Card -->
<dx-popup #popup [width]="300" [height]="200" [showTitle]="true" title="Tạo card" [dragEnabled]="false"
	[closeOnOutsideClick]="true" [showCloseButton]="false" container=".dx-viewport" [(visible)]="popupVisible">
	<div *dxTemplate="let data of 'content'">
		<p>
			Tên card:
			<dx-text-box [(value)]="cardAdd.name" [placeholder]="'Nhập tên card'"></dx-text-box>
		</p><br>
		<div class="button-popup">
			<dx-button [height]="heightButton" [width]="widthButton" [text]="'Tạo'" [icon]="'check'"
				[type]="'success'" (onClick)="onClickCreateCard()">
			</dx-button>
			<dx-button [height]="heightButton" [width]="widthButton" [text]="'Đóng'" (onClick)="onActionPopup()">
			</dx-button>
		</div>
	</div>
</dx-popup>


<dx-popover
        target="#showNoti"
        position="bottom"
        [width]="300"
		[height]="300"
        [showTitle]="true"
        title="History"
        [(visible)]="isShowNotification"
      >
        <div *dxTemplate="let data = model; of: 'content'">
			<dx-scroll-view width="100%" height="100%">
				<p [outerHTML]="getHistoryString()"></p>
			</dx-scroll-view>
        </div>
</dx-popover>

<dx-load-panel [shading]="true" [(visible)]="isLoading" shadingColor="rgba(0,0,0,0.4)"></dx-load-panel>