<div class="br-login">
    <form class="login">
        <strong class="mb-5" style="font-size: 20px;">LOGIN</strong>
        <dx-text-box class="mb-5" [(value)]="userRequest.userName" [disabled]="false" [readOnly]="false"></dx-text-box>
        <dx-text-box class="mb-5" mode="password" [(value)]="userRequest.password" [disabled]="false" [readOnly]="false"></dx-text-box>
        <dx-button
        [text]="'Login'"
        [type]="'default'"
        (onClick)="onClickLogin()">
        </dx-button>
      </form>
</div>
<dx-load-panel 
  [shading]="true" 
  [(visible)]="isLoading"
  shadingColor="rgba(0,0,0,0.4)"></dx-load-panel>
