.todos .todo{
    display: flex;
    margin-bottom: 10px;
}

.todos .todo .title{
    margin-left: 10px;
    width: 390px;
}

.todos .todo .title-sub{
    margin-left: 10px;
    width: 355px;
}

.todos .sub-todo {
    margin-left: 35px;
}

.todos .pointer{
    cursor: pointer;
}

.todos .add-subtodo{
    margin-right: 5px;
}

.new-todo{
    width: 300px;
}

.has-subtodo{
    font-size: 20px;
    margin-right: 3px;
    width: 15px;
}

::ng-deep .dx-textarea .dx-texteditor-input{
    padding: 0;
}
